/* Form Groups */

.form-group {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}
.form-group.vertical {
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: stretch;
	-webkit-align-items: stretch;
}
.form-group > .nowrap {
	white-space: nowrap;
}
.form-group:not(.vertical) > .align-top {
	align-self: flex-start;
}
.form-group:not(.vertical) > .align-top:not(input):not(textarea):not(select):not(.form-group):not(.input-group):not(.button) {
	padding-top: .7rem;
}
.form-group:not(.vertical) > * {
	margin-right: 2rem;
}
.form-group:not(.vertical) > *:last-child {
	margin: 0;
}
.form-group > input[type="text"],
.form-group > input[type="password"],
.form-group > input[type="email"],
.form-group > input[type="url"],
.form-group > input[type="date"],
.form-group > input[type="month"],
.form-group > input[type="time"],
.form-group > input[type="datetime"],
.form-group > input[type="datetime-local"],
.form-group > input[type="week"],
.form-group > input[type="number"],
.form-group > input[type="search"],
.form-group > input[type="tel"],
.form-group > select,
.form-group > textarea {
	flex: 0 999 auto;
	-webkit-flex: 0 999 auto;
}
.form-group > *.fill {
	width: 100%;
	flex: 0 999 auto;
	-webkit-flex: 0 999 auto;
}
