.hero {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	height: 100vh;
	background-color: rgb(0,0,0);
	/*background-color: rgb(196,12,9);*/
	/*background-image: -webkit-radial-gradient(80% 10%, circle, rgb(196,12,9), transparent),*/
	                  /*-webkit-radial-gradient(80% 50%, circle, rgb(221, 122, 0), transparent),*/
	                  /*-webkit-radial-gradient(20% 80%, circle, rgb(124, 9, 9), transparent),*/
	                  /*-webkit-radial-gradient(10% 10%, circle, rgb(124, 9, 9), transparent);*/

	background-image: -moz-radial-gradient(80% 10%, circle, rgb(196,12,9), transparent),
	                  -moz-radial-gradient(80% 50%, circle, rgb(221, 122, 0), transparent),
	                  -moz-radial-gradient(20% 80%, circle, rgb(124, 9, 9), transparent),
	                  -moz-radial-gradient(10% 10%, circle, rgb(124, 9, 9), transparent);

	background-image: -ms-radial-gradient(80% 10%, circle, rgb(196,12,9), transparent),
	                  -ms-radial-gradient(80% 50%, circle, rgb(221, 122, 0), transparent),
	                  -ms-radial-gradient(20% 80%, circle, rgb(124, 9, 9), transparent),
	                  -ms-radial-gradient(10% 10%, circle, rgb(124, 9, 9), transparent);

	background-image: -o-radial-gradient(80% 10%, circle, rgb(196,12,9), transparent),
	                  -o-radial-gradient(80% 50%, circle, rgb(221, 122, 0), transparent),
	                  -o-radial-gradient(20% 80%, circle, rgb(124, 9, 9), transparent),
	                  -o-radial-gradient(10% 10%, circle, rgb(124, 9, 9), transparent);

	/*background-image: radial-gradient(circle at 80% 10%, rgb(196,12,9), transparent),*/
	                  /*radial-gradient(circle at 80% 50%, rgb(221, 122, 0), transparent),*/
	                  /*radial-gradient(circle at 20% 80%, rgb(124, 9, 9), transparent),*/
	                  /*radial-gradient(circle at 10% 10%, rgb(124, 9, 9), transparent);*/
}
#stars {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	opacity:.5;
}

#gradient {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

/* Hero Content */
.hero > .content {
	color: #fff;
	max-width: 120rem;
	padding: 0 1rem;
	position: relative;
	z-index: 3;
	text-align: center;
}

@media ( min-width : 600px ) {
	.hero > .content > .title {
		font-size: 6rem;
	}
}

.hero .summary div {
	text-align: left;
	padding: 1rem;
	line-height: 1.2;
}

.hero .name {
	font-size: 7rem;
	font-weight: 800;
	margin-top: 9rem;
}

.hero .descriptors {
	font-size: 3.5rem;
	font-weight: 500;
}
