.social {
	margin: 0 2rem 2rem 2rem;
	padding: 0;
	list-style: none;
	display: -webkit-inline-flex;
	display: inline-flex;
}
.social > li > a {
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition:    opacity .15s ease-in-out;
	-o-transition:      opacity .15s ease-in-out;
	transition:         opacity .15s ease-in-out;
	font-size: 2.5rem;
	padding: 0 1rem;
}
.social > li > a:hover {
	opacity: .6;
}
.social.light > li > a {
	color: #fff;
}
