/* **************************************************************************

CODE

01. Code

************************************************************************** */

/* **************************************************************************

01. Code

************************************************************************** */

pre {
	white-space: pre;
	display: block;
	margin-bottom: 2rem;
	overflow-x: auto;
	padding: 1.5rem;
	line-height: 1.8rem;
	font-family: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, monospace;
	background-color:#f9f9f9;
	border: .1rem solid #d9d9d9;
}
code, kbd, samp, var {
	margin: 0;
	padding: 0;
	font-family: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, monospace;
}
pre code {
	display: block;
}
var {
	font-style: normal;
	font-weight: bold;
}
var:before {
	content: '<';
}
var:after {
	content: '>';
}
