/* **************************************************************************

LISTS

01. Lists

************************************************************************** */

/* **************************************************************************

01. Lists

************************************************************************** */

ul, ol {
	list-style-position: outside;
	padding: 0 0 0 2rem;
	margin: 0 0 2rem 0;
}
li {
	margin: 0;
	padding: 0;
}
dl {
	margin: 0 0 2rem 0;
	padding: 0;
}
dl dd {
	margin: 0 0 0 2rem;
	padding: 0;
}
dt {
	font-weight: bold;
	margin: 0;
	padding: 0;
}
