/* **************************************************************************

MEDIA

01. Media

************************************************************************** */

/* **************************************************************************

01. Media

************************************************************************** */

figure {
    margin: 0;
	padding: 0;
	display: block;
	border: none;
}
figcaption {
	margin: 0;
	padding: 0;
	display: block;
	border: none;
}
object, embed, audio, video, iframe {
	width: 100%;
	border: 0;
	margin: 0;
	display: block;
	vertical-align: baseline;
}
img {
	display: block;
    -ms-interpolation-mode: bicubic;
	width: 100%;
	margin: 0;
	border: 0;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
svg:not(:root) {
    overflow: hidden;
}
