/* **************************************************************************

TOOLTIPS

01. Tooltip Defaults
02. Attributes
03. Top
04. Bottom
05. Left
06. Right

************************************************************************** */

/* **************************************************************************

01. Tooltip Defaults

************************************************************************** */

*[data-tooltip] {
	position: relative;
	z-index: 10;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style:    preserve-3d;
	transform-style:         preserve-3d;
}
*[data-tooltip]:after {
	content: attr(data-tooltip);
	position: absolute;
	opacity: 0;
	visibility: hidden;
	margin: 0;
	max-width: 25rem;
	z-index: 500;
	background-color: #111111;
	color: rgb(255, 255, 255);
	padding: .7rem 1rem .5rem 1rem;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.5;
	vertical-align: baseline;
	text-rendering: optimizeSpeed;
	font-family:  helvetica, arial, sans-serif;
	text-align: left;
	cursor: default;
	white-space: nowrap;
	text-transform: none;
	-webkit-transition: 0.3s ease;
	-moz-transition:    0.3s ease;
	transition:         0.3s ease;
	-webkit-transition-delay: 0ms;
	-moz-transition-delay:    0ms;
	transition-delay:         0ms;
	pointer-events: none;
}
*[data-tooltip]:hover:after {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay:    100ms;
	transition-delay:         100ms;
}
*[data-tooltip]:before {
	opacity: 0;
	visibility: hidden;
	content: "";
	border: .5rem solid transparent;
	position: absolute;
	-webkit-transition: 0.3s ease;
	-moz-transition:    0.3s ease;
	transition:         0.3s ease;
	-webkit-transition-delay: 0ms;
	-moz-transition-delay:    0ms;
	transition-delay:         0ms;
	pointer-events: none;
}
*[data-tooltip]:hover:before {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay:    100ms;
	transition-delay:         100ms;
}

/* **************************************************************************

02. Attributes

************************************************************************** */

*[data-tooltip][data-tooltip-attributes*="wrap"]:after {
	white-space: normal;
	width: 20rem;
}

/* **************************************************************************

03. Top

************************************************************************** */

*[data-tooltip][data-tooltip-attributes*="top-"]:after,
*[data-tooltip]:after /* Default */ {
	bottom: calc(100% + 1rem);
}
*[data-tooltip][data-tooltip-attributes*="top-"]:hover:after,
*[data-tooltip]:hover:after /* Default */ {
	bottom: calc(100% + 1.5rem);
}
*[data-tooltip][data-tooltip-attributes*="top-"]:before,
*[data-tooltip]:before /* Default */ {
	bottom: calc(100% + 0rem);
	left: calc(50% - .5rem);
	border-top-color: #111111;
}
*[data-tooltip][data-tooltip-attributes*="top-"]:hover:before,
*[data-tooltip]:hover:before /* Default */ {
	bottom: calc(100% + .5rem);
}
*[data-tooltip][data-tooltip-attributes*="top-center"]:after,
*[data-tooltip]:after /* Default */ {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform:     translateX(-50%);
	transform:         translateX(-50%);
}

/* **************************************************************************

04. Bottom

************************************************************************** */

*[data-tooltip][data-tooltip-attributes*="bottom-"]:after {
	bottom: auto;
	top: calc(100% + 1rem);
}
*[data-tooltip][data-tooltip-attributes*="bottom-"]:hover:after {
	bottom: auto;
	top: calc(100% + 1.5rem);
}
*[data-tooltip][data-tooltip-attributes*="bottom-"]:before {
	bottom: auto;
	border-color: transparent;
	top: calc(100% + 0rem);
	left: calc(50% - .5rem);
	border-bottom-color: #111111;
}
*[data-tooltip][data-tooltip-attributes*="bottom-"]:hover:before {
	bottom: auto;
	top: calc(100% + .5rem);
}
*[data-tooltip][data-tooltip-attributes*="bottom-center"]:after {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform:     translateX(-50%);
	transform:         translateX(-50%);
}

/* **************************************************************************

05. Left

************************************************************************** */

*[data-tooltip][data-tooltip-attributes*="left-"]:after {
	bottom: auto;
	right: calc(100% + 1rem);
}
*[data-tooltip][data-tooltip-attributes*="left-"]:hover:after {
	bottom: auto;
	right: calc(100% + 1.5rem);
}
*[data-tooltip][data-tooltip-attributes*="left-"]:before {
	bottom: auto;
	left: auto;
	border-color: transparent;
	right: calc(100% + 0rem);
	top: calc(50% - .5rem);
	border-left-color: #111111;
}
*[data-tooltip][data-tooltip-attributes*="left-"]:hover:before {
	bottom: auto;
	right: calc(100% + .5rem);
}
*[data-tooltip][data-tooltip-attributes*="left-center"]:after {
	left: auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform:     translateY(-50%);
	transform:         translateY(-50%);
}

/* **************************************************************************

06. Right

************************************************************************** */

*[data-tooltip][data-tooltip-attributes*="right-"]:after {
	bottom: auto;
	left: calc(100% + 1rem);
}
*[data-tooltip][data-tooltip-attributes*="right-"]:hover:after {
	bottom: auto;
	left: calc(100% + 1.5rem);
}
*[data-tooltip][data-tooltip-attributes*="right-"]:before {
	bottom: auto;
	border-color: transparent;
	left: calc(100% + 0rem);
	top: calc(50% - .5rem);
	border-right-color: #111111;
}
*[data-tooltip][data-tooltip-attributes*="right-"]:hover:before {
	bottom: auto;
	left: calc(100% + .5rem);
}
*[data-tooltip][data-tooltip-attributes*="right-center"]:after {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform:     translateY(-50%);
	transform:         translateY(-50%);
}

