/* Input Groups */

.input-group {
	display: flex;
	display: -webkit-flex;
}
.input-group > * {
	margin-left: 0;
	margin-right: 0;
}
.input-group > input + input,
.input-group > input + select,
.input-group > input + textarea,
.input-group > select + input,
.input-group > select + select,
.input-group > select + textarea,
.input-group > textarea + input,
.input-group > textarea + select,
.input-group > textarea + textarea {
	margin-left: -.1rem !important;
}
.input-group > input[type="text"],
.input-group > input[type="password"],
.input-group > input[type="email"],
.input-group > input[type="url"],
.input-group > input[type="date"],
.input-group > input[type="month"],
.input-group > input[type="time"],
.input-group > input[type="datetime"],
.input-group > input[type="datetime-local"],
.input-group > input[type="week"],
.input-group > input[type="number"],
.input-group > input[type="search"],
.input-group > input[type="tel"],
.input-group > select,
.input-group > textarea {
	flex: 0 999 auto;
	-webkit-flex: 0 999 auto;
}
.input-group > textarea {
	min-height: 0;
	resize: none;
}
.input-group > .append {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	padding: 0 1rem;
	border: 1px solid #d9d9d9;
	background: #f9f9f9;
	color: #555;
	flex: 0 0 auto;
	white-space: nowrap;
}
.input-group > .append:first-child {
	border-right: none;
}
.input-group > .append:last-child {
	border-left: none;
}
.input-group > .append > input[type="checkbox"],
.input-group > .append > input[type="radio"] {
	top: -1px;
	margin-right: .5rem;
}
