/* **************************************************************************

METER

01. Meter Defaults
02. Webkit
03. Mozilla

************************************************************************** */

/* **************************************************************************

01. Meter Defaults

************************************************************************** */

meter {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	display: block;
	height: 1rem;
	background: #dfdfdf;
}

/* **************************************************************************

01. Webkit

************************************************************************** */

meter::-webkit-meter-bar {
	width: 100%;
	display: block;
	height: 1rem;
	background: #dfdfdf;
	overflow: hidden;
}
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
	background: none;
	background-color: #aaaaaa;
}
meter::-webkit-meter-optimum-value {
	background-color: #5cb85c;
}
meter::-webkit-meter-suboptimum-value {
	background-color: #f0ad4e;
}
meter::-webkit-meter-even-less-good-value{
	background-color: #cf302c;
}

/* **************************************************************************

01. Mozilla

************************************************************************** */

meter::-moz-meter-bar {
	width: 100%;
	display: block;
	height: 1rem;
	background: #dfdfdf;
	overflow: hidden;
}
meter:-moz-meter-optimum::-moz-meter-bar,
meter:-moz-meter-sub-optimum::-moz-meter-bar,
meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
	background: #aaaaaa;
}

meter:-moz-meter-optimum::-moz-meter-bar {
	background: #5cb85c;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
	background: #f0ad4e;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
	background: #cf302c;
}
